[flake8]

# Permitted exceptions:
# E402 module level import not at top of file
# E501 line too long (161 > 150 characters)
# F821 undefined name '_'
# E203 whitespace before ':' conflicts with black formatting of slices

per-file-ignores =
  ./v.alkis.buildings.import.py: E501, E402, E203, F821

extend-ignore = E203

max-line-length = 80
exclude =
    .git,
    __pycache__,
    .env,
    .venv,
    env,
    venv,
    ENV,
    env.bak,
    venv.bak,
    ctypes,
    pydispatch,
