[flake8]

# Permitted exceptions:
# E402 module level import not at top of file
# E501 line too long (161 > 150 characters)
# F821 undefined name '_'
# E231 missing whitespace after ','

per-file-ignores =
  ./v.alkis.buildings.import.py: E501, E402, F821, E231
  ./testsuite/test_v_alkis_buildings_import.py: E501

max-line-length = 80
exclude =
    .git,
    __pycache__,
    .env,
    .venv,
    env,
    venv,
    ENV,
    env.bak,
    venv.bak,
    ctypes,
    pydispatch,
